html,
body {
  height: 100%;
  font-size: 2em;
}

header,
aside,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  /* display: grid;
  place-content: center; */

  /* display: grid;
  place-items: center; */

  /* display: flex;
  margin: auto; */
}

header {
  background-color: #e57878;
  grid-area: my-header;
}

aside {
  background-color: #83e167;
  grid-area: my-aside;
}

main {
  background-color: #59d5ee;
  grid-area: my-main;
}

footer {
  background-color: #c01c4d;
  grid-area: my-footer;
}

body {
  display: grid;
  gap: 2px;
}

@media (min-width: 1800px) {
  body {
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 100px 1fr 200px;
    grid-template-areas:
      'my-header   my-header'
      'my-aside       my-main'
      'my-footer     my-footer';
  }
}

@media (min-width: 800px) and (max-width: 1800px) {
  body {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 1fr 200px;
    /* grid-template-areas: 
    "-                     my-header my-header"
    "my-aside     my-main     my-main"
    "my-footer   my-footer  my-footer"
    ; */
    grid-template-areas: 
    "my-aside     my-header my-header"
    "my-aside     my-main     my-main"
    "my-footer   my-main    my-main"
    ;
  }
}

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 2fr 200px;
    grid-template-areas: 
    "my-footer"
    "my-main"
    "my-header"
    "my-aside";
    /* grid-template-areas: 
    "my-header"
    "my-aside"
    "my-main"
    "my-footer"
    ; */
  }
}